*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------------------Navbar--------------------------*/
.navbar{
    position: absolute;
    background: none!important;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    font-size: 14px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.6) !important;
}
.navbar.scrolled{
    position: absolute;
    background: #fff!important;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    font-size: 14px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}
.navbrandlogo{
    height: 50px;
    width: 140px;
    margin-left: 60px;
    background-image: url(../images/logo-light.png);
    background-size: cover;
    margin-top: -20px;
}
.navbar.scrolled .navbrandlogo{
    height: 50px;
    width: 140px;
    margin-left: 60px;
    background-image: url(../images/logo-dark.png);
    background-size: cover;
    margin-top: -10px;
}
.social-icons{
    padding-left: 40px;
    padding-right: 20px;
}
.myscicon{
    color: #fff !important;
}
.navbar.scrolled .myscicon{
    color: #000 !important;
}
.mylinks ul li{
    padding-left: 20px;
}
.nav-link{
    color: #fff!important;
    font-weight: 600;
}
.navbar.scrolled .nav-link{
    color: #000!important;
    font-weight: 600;
}
.navbar-toggler{
    border: none !important;
    outline: none!important;
    color: #fff !important;
}
.navbar.scrolled .navbar-toggler{
    border: none !important;
    outline: none!important;
    color: #000 !important;
}
/*------------------------Carousel--------------------------*/
#carouselExampleIndicators{
    position: absolute;
    height: 100vh;
    position: relative;
    background-color: #1f1f1f!important; 
}
#carouselExampleIndicators img{
    height: 100%;
    width: 100%;
}
.carousel-caption{
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: initial !important;   
}
.carousel-caption h1{
    padding: 5px 0;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.carousel-caption p{
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.carousel-caption .btn-primary{
    color: #fff!important;
    background-color: #00c3da!important;
    border: none!important;
    height: 50px;
    width: 120px;
    font-weight: bold;
}
.carousel-caption .btn-outline-light{
    color: #fff!important;
    height: 50px;
    width: 120px;
    font-weight: bold;
    border: 1px solid #fff !important;
}
.carousel-caption .btn-outline-light:hover{
    color: #000!important;
}
.carousel-myicons ul{
    position: absolute;
    top:45%;
    left:0;
}
.carousel-myicons .btn-outline-light{
    border-radius: 0!important;
    height: 40px;
    width: 40px;
}
.carousel-myicons a{
    color: #fff!important;
}
/*------------------------About--------------------------*/
#about{
    padding:80px 20px;
    text-align: center;
}
#about h6{
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #1f1f1f;
    opacity: 0.8;
    letter-spacing: 1px;
}
#about p{
    width: 66%;
    margin: 5px auto;
    padding-bottom: 30px;
    color: #787878;
    font-size: 20px; 
    opacity: 0.9;
    font-weight: 300;
}
#about span{
    color: #00c3da;
    font-size: 20px; 
    opacity: 1;
    font-weight: 600;
}
.mybtn{
    margin: 5px auto;
    background: #fff;
    text-align: center;
    border: 1px solid #dedede!important;
    height: 50px!important;
    width: 120px!important;
    border-radius: none;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.7;
    color: #1f1f1f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.mybtn:hover{
    margin: 5px auto;
    background: #1f1f1f!important;
    text-align: center;
    border: 1px solid #fff!important;
    height: 50px!important;
    width: 120px!important;
    border-radius: none!important;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    opacity: 1;
}
/*-----------------------Mission-------------------------*/
#mission{
  padding-bottom: 50px;
  border-top: 1px solid #F5F4F4;
  border-bottom: 1px solid #F5F4F4;
}

.missionlinks{
  padding-top: 80px;
  padding-bottom: 50px;
}
#myTab{
    border: none !important;
}
.mylinksm{
    border: none !important;
    color: #000 !important;
    letter-spacing: 0.1em;
    font-size: 11px;
    font-weight: 600;
}
#myTabContent p{
    text-align: left;
    padding-left: 13px;
    padding-top: 40px;
    color: #787878 !important;
    font-size: 17px; 
    font-weight: 400;
    line-height: 28px;
}
.missionlinks ul li a.active{
    border-bottom: 1px solid #000 !important;
}
.missionbtn{
     margin-left:  10px !important;
     border-radius: 6px;
}
.missionimg{
    margin: 0;
    padding: 0;
}
.missionimg img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*------------------------Team--------------------------*/
#team{
    padding-top: 2px;
    padding-bottom: 20px;
}
#team h2{
    font-size: 40px;
    font-weight: bold!important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    letter-spacing: -1;
    padding-top: 10px;
}
.mypara{
    font-size: 16px;
    font-weight: 200!important;
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
    text-align: center;
    position: relative;
    left: 20px;
}
#team h2::before{
    content: 'C';
    text-align: center;
    opacity: 0.1;
    font-size: 70px;
    font-weight: bold;
    position: relative;
    left: 130px;
}
#team .row{
    padding-top: 40px;
    padding-bottom: 40px;
}
#team .col-lg-3{
    padding-bottom: 20px;
}
.image-box{
    display: block;
    position: relative;
}
.image-contents{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}
.image-contents:hover{
    opacity: 1;
    background-color: rgba(0, 195, 218, 0.9);
}
.image-contents h6{
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding-top: 60%;
}
.image-contents p{
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}
.image-contents ul li{
    display: inline-block;
}
.image-contents ul{
    margin-left: 20px !important;
    margin-top: 20px;
}
.image-contents ul a{
    padding-left: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}
/*----------------------Services-----------------------*/
#services{
    margin: 50px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6))),url(../images/bg-image-26.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/bg-image-26.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sericon{
    padding-top: 80px;
    padding-bottom: 30px;
    color: rgba(255,255,255,0.8);
    font-size: 40px;
}
.sercaption h4{
    font-size: 12px !important;
    letter-spacing: 0.1em;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    padding-bottom: 80px;
}
#services h2{
    font-size: 48px;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    padding-bottom: 20px;
}
#services h2::before{
    content: 'W';
    text-align: left;
    opacity: 0.1;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top:-40px;
    left:-2px;
}
#services p{
    width: 80%;
    text-align: left;
    color: rgba(255,255,255,0.8);
    padding-bottom: 50px;
}
#services ul li{
    list-style-type: none;
    padding-bottom: 20px;
    color: rgba(255,255,255,0.8);
}
/*-----------------------Work-------------------------*/
#work{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#work h2{
    font-size: 40px;
    font-weight: bold!important;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    letter-spacing: -1;
    padding-top: 10px;
    text-align: center;
}
#work h2::before{
    content: 'O';
    opacity: 0.1;
    font-size: 70px;
    font-weight: bold;
    position: relative;
    left: 130px;
}
#work h2::after{
    content: '';
    background: #1f1f1f;
    display: block;
    height: 1px;
    width: 50px;
    text-align: center;
    margin: 20px auto;
}
#pills-tab{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 60px;
}
.wlinks{
    margin-left: 30px;
    padding: 5px 20px;
    background-color: #fff;
    color: #000!important;
    font-size: 13px;
    border-radius: 40;
    color: #1f1f1f;
    border: 1px solid transparent;
}
#pills-tab .active{
    background-color:#fff!important;
    border: 1px solid rgba(0, 195, 218, 0.8);
    border-radius: 30px;
    color: rgba(0, 195, 218, 0.8)!important;
}
.row{
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-lg-4{
    padding: 10px 10px;
}
.images-box{
    position: relative;
}
.images-contents{
    position: absolute;
    width: 90%;
    height: 25%;
    background-color: #fff;
    bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0;
}
.images-contents h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
}
.images-contents p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    top: 43%;
    -webkit-transform: translateY(-43%);
    transform: translateY(-43%);
}
.images-box:hover{
     -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}
.images-box:hover .images-contents{
    opacity: 1;
}
/*----------------------Pricing-------------------------*/
#pricing{
   padding-top: 80px;
   padding-bottom: 80px;
   background-color: #F4F4F4;
}
.p-header h2{
    font-size: 40px;
    font-weight: bold!important;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    letter-spacing: -1;
    padding-top: 10px;
    text-align: center;
}
.p-header h2::before{
    content: 'C';
    opacity: 0.1;
    font-size: 70px;
    font-weight: bold;
    position: relative;
    left: 130px;
}
.hp{
    font-size: 16px;
    font-weight: 200!important;
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
    text-align: center;
    position: relative;
    left: 20px;
}
allpitems{
    padding: 0 auto;
}
.content-box{
    background-color: #fff;
    margin: 40 auto;
    padding: 40px;
    border: 1px solid rgba(0,0,0,0.1);
}
.content-month{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.content-month h2{
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
} 
.content-month p{
    font-size: 60px;
    color: rgba(0,0,0,0.9);
} 
.content-month p sup{
    font-size: 40px;
    color: rgba(0,0,0,0.6);
} 
.content-details{
    padding-top: 15px;
    padding-bottom: 15px;
}
.content-details ul{
    text-decoration: none;
    list-style: none;
}
.content-details ul li{
    padding-top: 20px;
    color: #787878;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: rgba(0,0,0,0.6);
}
.btn1{
    background-color: #00c3da;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.btn1:hover{
    background-color: #00c3da;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.spcontent{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.spcontent span{
    font-size: 10px;
    padding-left: 30%;
    color: #00c3da;
    font-weight: bold;
}
.sphearder{
    color: #00c3da !important;
}
.sphearder sup{
    color: #00c3da !important;
}
/*------------------------Numbers-----------------------*/
#numbers{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1f1f1f;
    color:#fff !important;
}
.mynumicon{
    font-size:40px;
    color: #00c3da;
    padding-top: 10px;
    padding-bottom: 30px;
}
.num-head strong{
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.num-para p{
    padding-bottom: 30px;
    color:#fff !important;
}
/*---------------------Testimonials--------------------*/
#Testimonials .container-fluid{
    padding: 50px;
    background-color: #f6f6f6;   
}
#Testimonials h2{
    font-size: 14px;
    padding-bottom: 60px;
}
.carcontents{
    background-color: #fff;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: -50px;
}
#Testimonials .carousel-inner .carousel-item h5{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 60px;
}
#Testimonials .carousel-inner .carousel-item h6{
    color: #787878;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
}
#Testimonials .carousel-inner .carousel-item p{
    color: #787878;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(0,0,0,0.4);
    padding-top: 20px;
    padding-bottom: 50px;
}
#Testimonials .carousel-inner .carousel-item .img-box{
    width: 100px;
    height: 100px;
}


#Testimonials .carousel-indicators{
    top: 360px;
    color: red !important;
}
#Testimonials .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: gray;   
}
#Testimonials .carousel-indicators .active {
    background-color: #00c3da;   
}
#Testimonials .carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
#Testimonials .carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: gray;
}
#Testimonials .carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: gray;
}

/*--------------------Last-------------------*/
#last{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
}
.mylastcon{
    padding-left: 20px;
    margin-bottom: 20px;
}
.mylastlogo img{
    height: 80px;
    width: 120px;
    padding-bottom: 20px;
}
.mylastcon h2{
    color: #787878;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: rgba(0,0,0,0.6);
}
.mylastcon h2 strong{
    color: #787878;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,0.8);
}
.mylastcon ul li{
    list-style: none;
}
.mylastcon ul li{
    padding-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
}
.mylastcon ul li a{
    text-decoration: none;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
}
.mylastcon  .btn-outline-dark{
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.6);
    border-radius: none !important;
}
.mylastcon ul li a:hover{
    color: #00c3da;
}
.mylastcon  .btn-outline-dark:hover{
    background-color: #00c3da;
    color: #fff !important;
}
/*------------------Footer-------------------*/
footer{
    background-color: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 40px;
}
.ficons a{
    padding-bottom: 40px;
    padding-right: 15px;
    color: rgba(0,0,0,0.4) !important;
    padding-left: 15px;
}
.fcopy{
    color: rgba(0,0,0,0.5) !important;
}
/*--------------Media Query------------------*/
@media only screen and (max-width: 991px){
.social-icons ul li a{
 opacity: 0;
}
.social-icons{
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-caption h1{
    font-size: 50px !important;
    font-weight: bold;
}
#about p{
    width: 100%;
    font-size: 18px !important;
    font-weight: 400;
}
.image-contents h6{
    margin-left: 20px;
    padding-top: 78%;
}
.spcontent{
    -webkit-transform: scale(1);
    transform: scale(1);
}
#Testimonials .carousel-indicators{
    top: 400px;
}
.carcontents{
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
}
#Testimonials .carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0;
}
}